.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  padding: 20px;
    width: 600px;
    margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.purchase-form {
  width: 800px;
  font-family: Tahoma, Geneva, sans-serif;
}
.purchase-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.purchase-form input[type="text"], .purchase-form input[type="number"]{
  width: 400px;
  padding: 10px;
  border: 1px solid #dddddd;
  outline: none;
  box-sizing:border-box;
}
.purchase-form input[type="file"] {
  width: 400px;
  padding: 10px 0;
  outline: none;
  box-sizing:border-box;
  margin-bottom: 10px;
}
.purchase-form input[type="submit"] {
  width: 200px;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
.purchase-form textarea {
  width: 400px;
  padding: 10px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
  height: 150px;
  outline: none;
}

.purchase-form p{
  margin: 3px 0;
  margin-top: 15px;
  font-size: 14px;
  color: #282c34;
}

.react-datepicker__triangle {
  left: -50px !important;
}

.text-danger{
  color: red;
  font-size: 12px;
}

.responseText{
  margin: 20px 0;
  font-size: 13px;
}

.responseText table{
  border: 1px solid #cacaca;
  
}

.responseText table td{
  padding: 10px;
}

.responseText h2{
  color: green;
}


